@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 300px;
  height: 300px;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.container .cube {
  z-index: 2;
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

.container .face {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background: #141414;
  position: absolute;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, sans-serif;
}

.container .front {
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
}

.container .left {
  -webkit-transform: translateX(-150px) rotateY(-90deg);
          transform: translateX(-150px) rotateY(-90deg);
}

.container .back {
  -webkit-transform: translateZ(-150px) rotateY(180deg);
          transform: translateZ(-150px) rotateY(180deg);
  background-image: url("../img/mc.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .right {
  -webkit-transform: translateX(150px) rotateY(90deg);
          transform: translateX(150px) rotateY(90deg);
}

.container .top {
  display: block;
  -webkit-transform: translateY(-150px) rotateX(90deg);
          transform: translateY(-150px) rotateX(90deg);
  text-align: center;
}

.container .top h1 {
  padding: 30px;
}

.container .top p {
  padding: 30px;
}

.container .top p:last-child {
  padding: 15px;
  color: #c2c2c2;
}

.container .bottom {
  display: block;
  -webkit-transform: translateY(150px) rotateX(-90deg);
          transform: translateY(150px) rotateX(-90deg);
}

.container .bottom p {
  padding: 16px;
  font-size: 21px;
}

.container #download {
  background: transparent;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.container #download:hover {
  -webkit-box-shadow: inset 0 0 0 20px #fff;
          box-shadow: inset 0 0 0 20px #fff;
  color: #000;
}

#btngroup {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #161616;
  padding: 10px;
  border-radius: 20px;
}

#btngroup button {
  max-width: 40px;
  max-height: 36px;
  overflow: hidden;
  margin: 0 10px;
  padding: 10px 16px;
  color: #fff;
  background: #000;
  border-radius: 50px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#btngroup button:active {
  background: #252525;
}

#btngroup button:hover {
  max-width: 400px;
}

#btngroup button:hover p {
  opacity: 1;
}

#btngroup button p {
  margin-left: 10px;
  display: inline;
  opacity: 0;
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
  }
}
/*# sourceMappingURL=main.css.map */